awscli system
golang system
k9s system
kubectl system
nodejs system
python system
terraform system
yarn system
poetry system
rust 1.71.0
tfsec 1.28.1

/* java corretto-11.0.15.9.1 */
/* maven latest */
